upstream docker-auth {
    server auth:8000;
}

upstream docker-frontend {
    server frontend:3000;
}

server {
    listen ${NGINX_PORT};

    location = ${AUTH_API_PREFIX} {
        return 302 ${AUTH_API_PREFIX}/;
    }

    location ${AUTH_API_PREFIX}/ {
        proxy_pass http://docker-auth/;
    }

    location / {
        proxy_pass http://docker-frontend;
    }
}
